body,html{
    margin: 0;
    padding: 0;
    background-color: #e9ebee;
    font-family: sans-serif;
}
.header{
    background: #415e9b;
    height: 82px;
    border-bottom: 1px solid #133783
}
.header-nav{
    width: 995px;
    margin: 0 auto;
    padding-top: 15px;
}
.logo{
    width: 50%;
    float: left
}
.connexion{
    width: 50%;
    float: left;
    padding-top: 8px;
}
.connexion label{
    color: #ffffff;
    font-size: 12px;
}
.connexion input{
    width: 150px;
}
.connexion button{
    background: #4267b2;
    border: 1px solid #29487d;
    border-radius: 2px;
    color: #fff;
}
.email {
    float: left;
    margin-right: 12px;
}
.pwd{
    float: left;
}
.connexion a{
    font-size: 12px;
    float: center;
    margin-left: 165px;
}
.connexion-bouton{
    float: right;
    margin-right:70px;
}
.content {
    width: 995px;
    margin: 0 auto;
}
.gauche {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
    float: left;
    width: 50%;
}
.gauche p{
    font-size: 110%;
}
.droite {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
    float: left;
    width: 50%;
}
.droite p{
    font-size: 110%;
}
.droite label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}    
.compte input[type='text'], .compte input[type='password']{
    margin-bottom: 15px;
    border-radius: 5px; 
    padding: 10px;
}
.compte input[type='date']{
    border-radius: 5px; 
    padding: 10px;
}
.compte input[type='radio']{
    margin: 20px;
}
.compte a{
    color: #3677bc;
    font-size: 12px;
}
.compte span, .compte p{
    font-size:12px;
}
.compte button[type='submit']{
    background : #65a953;
    border: 1px solid #3b6e22;
    padding:12px 22px;
    border-radius : 5px;
    font-size: 25px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px; 
}
.footer {
    position: absolute;
    bottom: -300px;
    background: #fff;
    height: 200px;
    width : 2000px;
}
.center{
    margin-left: 250px;
}